<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Customers</title>
    <meta charset="UTF-8" />
   	<style media="screen"></style>
   	<script src="../angular.min.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>
    Name:<input type="text" ng-model="nameSearch" /><br />
    <div ng-init="customers = [
    {name:'jack', salary:'2500', birthday:'1992-07-08'},
    {name:'john', salary:'1200', birthday:'1987-01-01'},
    {name:'mike', salary:'3200', birthday:'1962-12-24'},
    {name:'harald', salary:'2450', birthday:'1998-08-11'}]">
    <table class="pure-table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Salary</td>
          <td>Birthday</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="customer in customers | orderBy:'name' | filter:nameSearch">
          <td>{{customer.name}}</td>
          <td>{{customer.salary | currency:"€":0}}</td>
          <td>{{customer.birthday | date:"dd.MM.yyyy"}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
